# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE-specific files (optional but recommended)
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.sublime-workspace
*.sublime-project
.settings/
.project
.classpath